
python-dotenv
os
streamlit


langchain
langchain-core
langchain-classic
langchain-community
langchain-groq
langchain-huggingface
langsmith
langchain-tavily
torch
torchvision

sentence-transformers
faiss-cpu
pypdf

wikipedia
arxiv
requests
beautifulsoup4
